<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AssimpNet" version="4.1.0" targetFramework="net471" />
  <package id="BouncyCastle" version="1.8.5" targetFramework="net471" />
  <package id="BraintreeHttp-Dotnet" version="0.3.0" targetFramework="net471" />
  <package id="ClosedXML" version="0.95.0-beta1" targetFramework="net471" />
  <package id="CompareNETObjects" version="4.61.0" targetFramework="net471" />
  <package id="CredentialManagement" version="1.0.2" targetFramework="net471" />
  <package id="DocumentFormat.OpenXml" version="2.10.0-beta0002" targetFramework="net471" />
  <package id="DotNetZip" version="1.13.4" targetFramework="net471" />
  <package id="DotSpatial.Data" version="2.0.0-rc1" targetFramework="net471" />
  <package id="DotSpatial.GeoAPI" version="1.7.4.3" targetFramework="net471" />
  <package id="DotSpatial.NetTopologySuite" version="1.14.4" targetFramework="net471" />
  <package id="DotSpatial.Projections" version="2.0.0-rc1" targetFramework="net471" />
  <package id="DotSpatial.Serialization" version="2.0.0-rc1" targetFramework="net471" />
  <package id="Dropbox.Api" version="4.9.4" targetFramework="net471" />
  <package id="EPPlus" version="4.5.3.2" targetFramework="net471" />
  <package id="ExcelNumberFormat" version="1.0.7" targetFramework="net471" />
  <package id="FastMember" version="1.3.0" targetFramework="net471" />
  <package id="Ghostscript.NET" version="1.2.1" targetFramework="net471" />
  <package id="HtmlAgilityPack" version="1.11.9" targetFramework="net471" />
  <package id="IKVM" version="8.1.5717.0" targetFramework="net471" />
  <package id="MahApps.Metro.IconPacks" version="3.0.0-alpha0088" targetFramework="net471" />
  <package id="MailKit" version="2.3.0" targetFramework="net471" />
  <package id="MimeKit" version="2.3.0" targetFramework="net471" />
  <package id="net.sf.mpxj-common" version="7.8.1" targetFramework="net471" />
  <package id="net.sf.mpxj-for-csharp" version="7.8.1" targetFramework="net471" />
  <package id="net.sf.mpxj-ikvm" version="7.8.1" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net471" />
  <package id="NReco.VideoConverter" version="1.1.3" targetFramework="net471" />
  <package id="Ookii.Dialogs.Wpf" version="1.1.0" targetFramework="net472" />
  <package id="OpenTK" version="3.1.0" targetFramework="net471" />
  <package id="OpenTK.GLWpfControl" version="2.0.3" targetFramework="net471" />
  <package id="PayPal" version="2.0.0-rc2" targetFramework="net471" />
  <package id="Pdfbox" version="1.1.1" targetFramework="net471" />
  <package id="Pdfbox-IKVM" version="1.8.9" targetFramework="net471" />
  <package id="PDFsharp-MigraDoc-wpf" version="1.51.5186-beta" targetFramework="net471" />
  <package id="Svg" version="3.0.20-g594db9696a" targetFramework="net471" />
  <package id="System.Drawing.Common" version="4.5.0" targetFramework="net471" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net471" />
  <package id="System.IO.Packaging" version="4.5.0" targetFramework="net471" />
  <package id="Win32Interop.WinHandles" version="2.0.0" targetFramework="net471" />
  <package id="ZedGraph" version="6.0.0-alpha0001" targetFramework="net471" />
  <package id="ZetaLongPaths" version="1.0.0.29" targetFramework="net471" />
</packages>